Repository RyosukeMondo/to_texts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, rustfmt, rust-complexity, mypy, flake8, black-check, line-count, function-size

cargo-check:
  name: Rust type checking
  entry: cargo check --manifest-path packages/rust/Cargo.toml
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --manifest-path packages/rust/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

rustfmt:
  name: Rust formatting
  entry: cargo fmt --manifest-path packages/rust/Cargo.toml --check
  language: system
  pass_filenames: false

rust-complexity:
  name: Rust complexity check
  entry: scripts/check_rust_complexity.sh
  language: script
  pass_filenames: false

mypy:
  name: Python type checking
  entry: bash -c 'cd packages/python/zlibrary-downloader && mypy zlibrary_downloader'
  language: system
  pass_filenames: false

flake8:
  name: Python linting
  entry: flake8
  language: system

black-check:
  name: Python formatting
  entry: black --check
  language: system

line-count:
  name: Line count validation
  entry: scripts/validate_line_count.py
  language: script

function-size:
  name: Function size validation
  entry: scripts/validate_function_size.py
  language: script

test: add comprehensive CLI integration tests for multi-credential support
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_cli_integration.py
Due: mypy

docs(config): add comprehensive zlibrary_credentials.toml.example
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/zlibrary_credentials.toml.example
Due: none

feat(db): implement database models with serialization support
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/zlibrary_downloader/models.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement database schema with SQLite tables and indexes
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_schema.py
  packages/python/zlibrary-downloader/zlibrary_downloader/schema.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement DatabaseManager class for database connection lifecycle
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/zlibrary_downloader/db_manager.py
Due: mypy, flake8, black-check, line-count, function-size

test(db): add comprehensive DatabaseManager unit tests
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_db_manager.py
Due: mypy

feat(db): implement BookRepository with CRUD operations and tests
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_book_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/book_repository.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement AuthorRepository with book-author relationships
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_author_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/author_repository.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement ReadingListRepository with book membership and position tracking
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_list_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/list_repository.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement DownloadRepository and SearchHistoryRepository
  .serena/.gitignore
  .serena/project.yml
  .spec-workflow/approvals/database-storage/.snapshots/design.md/metadata.json
  .spec-workflow/approvals/database-storage/.snapshots/design.md/snapshot-001.json
  .spec-workflow/approvals/database-storage/.snapshots/design.md/snapshot-002.json
  .spec-workflow/approvals/database-storage/.snapshots/requirements.md/metadata.json
  .spec-workflow/approvals/database-storage/.snapshots/requirements.md/snapshot-001.json
  .spec-workflow/approvals/database-storage/.snapshots/requirements.md/snapshot-002.json
  .spec-workflow/approvals/database-storage/.snapshots/tasks.md/metadata.json
  .spec-workflow/approvals/database-storage/.snapshots/tasks.md/snapshot-001.json
  .spec-workflow/approvals/database-storage/.snapshots/tasks.md/snapshot-002.json
  .spec-workflow/approvals/database-storage/approval_1760713299748_hh8k6fn5d.json
  .spec-workflow/specs/database-storage/design.md
  .spec-workflow/specs/database-storage/requirements.md
  .spec-workflow/specs/database-storage/tasks.md
  docs/SPEC_TEMPLATE.md
  docs/specs/SPEC-001-database-storage.md
  docs/zlibrary-database-design.md
  packages/python/zlibrary-downloader/tests/test_download_repository.py
  packages/python/zlibrary-downloader/tests/test_search_history_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/download_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/search_history_repository.py
  test_zlibrary_metadata.py
Due: mypy, flake8, black-check, line-count, function-size

test(db): add type assertions to fix mypy errors in repository tests
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_author_repository.py
  packages/python/zlibrary-downloader/tests/test_book_repository.py
  packages/python/zlibrary-downloader/tests/test_list_repository.py
Due: mypy

feat(db): implement BookService for book operations
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_book_service.py
  packages/python/zlibrary-downloader/zlibrary_downloader/book_service.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement SearchService for search operations with database storage
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_search_service.py
  packages/python/zlibrary-downloader/zlibrary_downloader/search_service.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement ListService and DownloadService with validation
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_download_service.py
  packages/python/zlibrary-downloader/tests/test_list_service.py
  packages/python/zlibrary-downloader/zlibrary_downloader/download_service.py
  packages/python/zlibrary-downloader/zlibrary_downloader/list_service.py
Due: mypy, flake8, black-check, line-count, function-size

test(db): complete service unit tests with comprehensive coverage
  .spec-workflow/specs/database-storage/tasks.md
Due: none

feat(cli): add database command group with argparse subcommands
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): implement database command handlers with comprehensive tests
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_db_commands.py
  packages/python/zlibrary-downloader/zlibrary_downloader/db_commands.py
Due: mypy, flake8, black-check, line-count, function-size

feat(cli): add --save-db flag to search command for database storage
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
Due: mypy, flake8, black-check, line-count, function-size

feat(cli): add reading list CLI commands for database management
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_db_commands.py
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/db_commands.py
Due: mypy, flake8, black-check, line-count, function-size

feat(db): add download tracking and database utilities
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/db_commands.py
Due: mypy, flake8, black-check, line-count, function-size

feat(tests): add comprehensive CLI database integration tests
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_cli_db_integration.py
Due: mypy

docs(database): add comprehensive database features documentation
  .spec-workflow/specs/database-storage/tasks.md
  README.md
  docs/database-guide.md
Due: none

test(db): add performance tests for database operations
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/tests/test_performance.py
  packages/python/zlibrary-downloader/zlibrary_downloader/db_manager.py
Due: mypy, flake8, black-check, line-count, function-size

chore: final code quality cleanup and documentation
  .spec-workflow/specs/database-storage/tasks.md
  packages/python/zlibrary-downloader/CHANGELOG.md
  packages/python/zlibrary-downloader/zlibrary_downloader/author_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/book_repository.py
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/credential_manager.py
  packages/python/zlibrary-downloader/zlibrary_downloader/db_commands.py
  packages/python/zlibrary-downloader/zlibrary_downloader/list_service.py
Due: mypy, flake8, black-check, line-count, function-size

fix: improve download reliability and add skip tracking
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/client.py
  packages/python/zlibrary-downloader/zlibrary_downloader/client_pool.py
Due: mypy, flake8, black-check, line-count, function-size

feat: add HTML preview and multi-page search to TUI
  packages/python/zlibrary-downloader/zlibrary_downloader/db_commands.py
  packages/python/zlibrary-downloader/zlibrary_downloader/tui.py
  packages/rust/text-extractor/src/main.rs
Due: cargo-check, cargo-clippy, rustfmt, rust-complexity, mypy, flake8, black-check, line-count, function-size

feat: add convenience script and HTML preview for 2025 books
  packages/python/zlibrary-downloader/.gitignore
  packages/python/zlibrary-downloader/ai_agents_2025_preview.html
  packages/python/zlibrary-downloader/scripts/run_2025_all_pages_dl_all_db.sh
Due: none

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustfmt: any of: \.rs$
  rust-complexity: any of: \.rs$
  mypy: any of: \.py$
  flake8: any of: ^packages/python/zlibrary-downloader/zlibrary_downloader/ and \.py$
  black-check: any of: ^packages/python/zlibrary-downloader/zlibrary_downloader/ and \.py$
  line-count: any of: \.(rs|py)$, but not: (test_|_test\.|/tests/)
  function-size: any of: \.(rs|py)$, but not: (test_|_test\.|/tests/)
