Repository RyosukeMondo/to_texts: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-clippy, rustfmt, rust-complexity, mypy, flake8, black-check, line-count, function-size

cargo-check:
  name: Rust type checking
  entry: cargo check --manifest-path packages/rust/Cargo.toml
  language: system
  pass_filenames: false

cargo-clippy:
  name: Rust linting
  entry: cargo clippy --manifest-path packages/rust/Cargo.toml -- -D warnings
  language: system
  pass_filenames: false

rustfmt:
  name: Rust formatting
  entry: cargo fmt --manifest-path packages/rust/Cargo.toml --check
  language: system
  pass_filenames: false

rust-complexity:
  name: Rust complexity check
  entry: scripts/check_rust_complexity.sh
  language: script
  pass_filenames: false

mypy:
  name: Python type checking
  entry: bash -c 'cd packages/python/zlibrary-downloader && mypy zlibrary_downloader'
  language: system
  pass_filenames: false

flake8:
  name: Python linting
  entry: flake8
  language: system

black-check:
  name: Python formatting
  entry: black --check
  language: system

line-count:
  name: Line count validation
  entry: scripts/validate_line_count.py
  language: script

function-size:
  name: Function size validation
  entry: scripts/validate_function_size.py
  language: script

feat(qa): Add comprehensive type hints to client.py
  .spec-workflow/specs/qa-compliance/tasks.md
  packages/python/zlibrary-downloader/zlibrary_downloader/client.py
Due: mypy, flake8, black-check, line-count, function-size

feat(qa): Add comprehensive type hints to cli.py
  .spec-workflow/specs/qa-compliance/tasks.md
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
Due: mypy, flake8, black-check, line-count, function-size

feat(qa): Add comprehensive type hints to tui.py
  .pre-commit-config.yaml
  .spec-workflow/approvals/qa-compliance/.snapshots/design.md/metadata.json
  .spec-workflow/approvals/qa-compliance/.snapshots/design.md/snapshot-001.json
  .spec-workflow/approvals/qa-compliance/.snapshots/design.md/snapshot-002.json
  .spec-workflow/approvals/qa-compliance/.snapshots/requirements.md/metadata.json
  .spec-workflow/approvals/qa-compliance/.snapshots/requirements.md/snapshot-001.json
  .spec-workflow/approvals/qa-compliance/.snapshots/requirements.md/snapshot-002.json
  .spec-workflow/approvals/qa-compliance/.snapshots/tasks.md/metadata.json
  .spec-workflow/approvals/qa-compliance/.snapshots/tasks.md/snapshot-001.json
  .spec-workflow/approvals/qa-compliance/.snapshots/tasks.md/snapshot-002.json
  .spec-workflow/approvals/qa-compliance/.snapshots/tasks.md/snapshot-003.json
  .spec-workflow/approvals/qa-compliance/approval_1760537438060_ajt4vb8yc.json
  .spec-workflow/approvals/qa-compliance/approval_1760537622637_zqamoe9gh.json
  .spec-workflow/approvals/steering/.snapshots/product.md/metadata.json
  .spec-workflow/approvals/steering/.snapshots/product.md/snapshot-001.json
  .spec-workflow/approvals/steering/.snapshots/product.md/snapshot-002.json
  .spec-workflow/approvals/steering/.snapshots/product.md/snapshot-003.json
  .spec-workflow/approvals/steering/.snapshots/structure.md/metadata.json
  .spec-workflow/approvals/steering/.snapshots/structure.md/snapshot-001.json
  .spec-workflow/approvals/steering/.snapshots/structure.md/snapshot-002.json
  .spec-workflow/approvals/steering/.snapshots/tech.md/metadata.json
  .spec-workflow/approvals/steering/.snapshots/tech.md/snapshot-001.json
  .spec-workflow/approvals/steering/.snapshots/tech.md/snapshot-002.json
  .spec-workflow/approvals/steering/approval_1760534942735_wgv7bd4d3.json
  .spec-workflow/config.example.toml
  .spec-workflow/specs/qa-compliance/design.md
  .spec-workflow/specs/qa-compliance/requirements.md
  .spec-workflow/specs/qa-compliance/tasks.md
  .spec-workflow/steering/product.md
  .spec-workflow/steering/structure.md
  .spec-workflow/steering/tech.md
  .spec-workflow/templates/design-template.md
  .spec-workflow/templates/product-template.md
  .spec-workflow/templates/requirements-template.md
  .spec-workflow/templates/structure-template.md
  .spec-workflow/templates/tasks-template.md
  .spec-workflow/templates/tech-template.md
  .spec-workflow/user-templates/README.md
  packages/python/zlibrary-downloader/zlibrary_downloader/tui.py
Due: mypy, flake8, black-check, line-count, function-size

feat(qa): Complete Python complexity audit
  .spec-workflow/specs/qa-compliance/python-complexity-audit.md
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

feat(qa): Complete Rust complexity audit
  .spec-workflow/specs/qa-compliance/rust-complexity-audit.md
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

feat(qa): Refactor Python high-complexity functions
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/tui.py
Due: mypy, flake8, black-check, line-count, function-size

chore(qa): Mark task 19 (Python refactoring) as completed
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

feat(qa): Refactor Rust high-complexity functions
  .spec-workflow/specs/qa-compliance/tasks.md
  packages/rust/text-extractor/src/main.rs
  scripts/check_rust_complexity.sh
Due: cargo-check, cargo-clippy, rustfmt, rust-complexity, line-count, function-size

test: Add package metadata comment to verify pre-commit hooks
  packages/python/zlibrary-downloader/zlibrary_downloader/__init__.py
Due: mypy, flake8, black-check, line-count, function-size

chore(qa): Mark task 21 (pre-commit clean test) as completed
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

test: Fix type error to verify pre-commit mypy hook
  packages/python/zlibrary-downloader/zlibrary_downloader/__init__.py
Due: mypy, flake8, black-check, line-count, function-size

chore(qa): Mark task 22 (type error test) as completed
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

chore(qa): Mark task 23 (complexity test) as completed
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

docs: Add comprehensive QA setup section to README
  .spec-workflow/specs/qa-compliance/tasks.md
  README.md
Due: none

test(qa): Create Python package tests directory structure (task 25)
  .spec-workflow/specs/qa-compliance/tasks.md
  packages/python/zlibrary-downloader/tests/__init__.py
  packages/python/zlibrary-downloader/tests/conftest.py
  packages/python/zlibrary-downloader/tests/test_cli.py
  packages/python/zlibrary-downloader/tests/test_client.py
  packages/python/zlibrary-downloader/tests/test_tui.py
Due: mypy

test(qa): Implement comprehensive unit tests for client.py (task 26)
  .spec-workflow/specs/qa-compliance/tasks.md
  packages/python/zlibrary-downloader/tests/conftest.py
  packages/python/zlibrary-downloader/tests/test_client.py
Due: mypy

test(qa): Implement comprehensive unit tests for validator scripts (task 27)
  .spec-workflow/specs/qa-compliance/tasks.md
  scripts/tests/__init__.py
  scripts/tests/test_validators.py
Due: mypy

test(qa): Run full QA validation and generate coverage report (task 28)
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

docs(qa): Create comprehensive QA compliance documentation (task 29)
  .spec-workflow/specs/qa-compliance/tasks.md
  docs/qa-compliance.md
Due: none

chore(qa): Final QA compliance review and cleanup (task 30)
  .pre-commit-config.yaml
  packages/python/zlibrary-downloader/pyproject.toml
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/client.py
  packages/python/zlibrary-downloader/zlibrary_downloader/tui.py
  scripts/tests/__init__.py
  scripts/tests/test_parse_python_complexity.py
  scripts/tests/test_validate_function_size.py
  scripts/tests/test_validate_line_count.py
  scripts/tests/test_validators.py
Due: mypy, flake8, black-check, line-count, function-size

docs(qa): Mark task 30 as completed in tasks.md
  .spec-workflow/specs/qa-compliance/tasks.md
Due: none

feat(spec): Add multi-credential account downloading specification
  specs/multi-credential-downloader/QUICK_REFERENCE.md
  specs/multi-credential-downloader/README.md
  specs/multi-credential-downloader/design.md
  specs/multi-credential-downloader/requirements.md
  specs/multi-credential-downloader/tasks.md
Due: none

docs(spec): Add specification index and navigation guide
  specs/multi-credential-downloader/SPECIFICATION_INDEX.md
Due: none

docs(spec): Add comprehensive implementation checklist
  specs/multi-credential-downloader/IMPLEMENTATION_CHECKLIST.md
Due: none

feat(spec): Add multi-credential downloader specification (spec-workflow format)
  specs/multi-credential-downloader/IMPLEMENTATION_CHECKLIST.md
  specs/multi-credential-downloader/QUICK_REFERENCE.md
  specs/multi-credential-downloader/README.md
  specs/multi-credential-downloader/SPECIFICATION_INDEX.md
  specs/multi-credential-downloader/design.md
  specs/multi-credential-downloader/requirements.md
  specs/multi-credential-downloader/tasks.md
Due: none

refactor(spec): Migrate multi-credential-downloader to spec-workflow format
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/design.md/metadata.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/design.md/snapshot-001.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/design.md/snapshot-002.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/design.md/snapshot-003.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/requirements.md/metadata.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/requirements.md/snapshot-001.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/requirements.md/snapshot-002.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/tasks.md/metadata.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/tasks.md/snapshot-001.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/tasks.md/snapshot-002.json
  .spec-workflow/approvals/multi-credential-downloader/.snapshots/tasks.md/snapshot-003.json
  .spec-workflow/approvals/multi-credential-downloader/approval_1760626002653_7mi7653xz.json
  .spec-workflow/approvals/multi-credential-downloader/approval_1760626013371_wibtn8x0n.json
  .spec-workflow/approvals/multi-credential-downloader/approval_1760626024382_p4kxhjj2c.json
  .spec-workflow/approvals/multi-credential-downloader/approval_1760626275514_ac7th4yzv.json
  .spec-workflow/approvals/multi-credential-downloader/approval_1760626678385_gigqlefzm.json
  .spec-workflow/specs/multi-credential-downloader/design.md
  .spec-workflow/specs/multi-credential-downloader/requirements.md
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  specs/multi-credential-downloader/design.md
  specs/multi-credential-downloader/requirements.md
  specs/multi-credential-downloader/tasks.md
Due: none

feat: implement Credential data model for multi-credential support
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_credential.py
  packages/python/zlibrary-downloader/zlibrary_downloader/credential.py
Due: mypy, flake8, black-check, line-count, function-size

feat(deps): Add tomli dependency for TOML parsing support
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/pyproject.toml
  packages/python/zlibrary-downloader/requirements.txt
Due: none

test: complete Credential model unit tests with 100% coverage
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  ISSUES_AND_FIXES.md
  QUICK_START_GUIDE.md
  TEST_REPORT.md
  packages/python/zlibrary-downloader/tests/test_credential.py
  test_download_extract.py
Due: mypy

feat: implement RotationState for credential rotation persistence
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_rotation_state.py
  packages/python/zlibrary-downloader/zlibrary_downloader/rotation_state.py
Due: mypy, flake8, black-check, line-count, function-size

test: complete RotationState unit tests with 93% coverage
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_rotation_state.py
Due: mypy

feat: implement CredentialManager with TOML and .env support
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_credential_manager.py
  packages/python/zlibrary-downloader/zlibrary_downloader/credential_manager.py
Due: mypy, flake8, black-check, line-count, function-size

feat: implement credential validation with retry logic
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_credential_manager.py
  packages/python/zlibrary-downloader/zlibrary_downloader/credential_manager.py
Due: mypy, flake8, black-check, line-count, function-size

test: complete CredentialManager unit tests with 96% coverage
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_credential_manager.py
Due: mypy

feat: implement ZlibraryClientPool with client caching and rotation
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_client_pool.py
  packages/python/zlibrary-downloader/zlibrary_downloader/client_pool.py
Due: mypy, flake8, black-check, line-count, function-size

test: complete ZlibraryClientPool unit tests with 100% coverage
  .spec-workflow/specs/multi-credential-downloader/tasks.md
Due: none

feat(cli): integrate CredentialManager and ClientPool for multi-credential support
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
Due: mypy, flake8, black-check, line-count, function-size

feat(cli): implement automatic credential rotation after operations
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
Due: mypy, flake8, black-check, line-count, function-size

feat(cli): implement graceful fallback and error handling for multi-credential operations
  .spec-workflow/specs/multi-credential-downloader/tasks.md
  packages/python/zlibrary-downloader/tests/test_cli.py
  packages/python/zlibrary-downloader/zlibrary_downloader/cli.py
Due: mypy, flake8, black-check, line-count, function-size

Path conditions:
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  rustfmt: any of: \.rs$
  rust-complexity: any of: \.rs$
  mypy: any of: \.py$
  flake8: any of: ^packages/python/zlibrary-downloader/zlibrary_downloader/ and \.py$
  black-check: any of: ^packages/python/zlibrary-downloader/zlibrary_downloader/ and \.py$
  line-count: any of: \.(rs|py)$, but not: (test_|_test\.|/tests/)
  function-size: any of: \.(rs|py)$, but not: (test_|_test\.|/tests/)
